.faq-section {
  max-width: 100%;
  margin: 0 auto;
  padding: 4rem 1.5rem;
}

.faq-title {
  font-size: clamp(50px,125px,10vw);
  text-align: center;
  margin-bottom: 2rem;
  font-family: anton,sans serif;
  border-top:2px solid black;
  border-bottom:2px solid black;
  width: 100%;
}

.faq-item {
  border-bottom: 1px solid #2a2a2a;
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  padding: 1.25rem 0;
  font-size: 25px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: anton,sans serif;
}

.faq-icon {
  font-size: 1.2rem;
}

.faq-answer {
  padding-bottom: 1.25rem;
  background-color:  RGB(181, 221, 194);
  line-height: 1.6;
  font-family: anton,sans serif;
  font-size: 25px;
}