.main{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image{
    border: 2px solid wheat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45vh;
    background-color: white;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.contact{
    background-color: green;
    height: 70vh;
    width: 100%;
}
.personalimage{
    height: 90%;
    /* padding:3px; */
    background-color: red;
    position: absolute;
}
.personalimage:nth-child(1){
    left:3%;
    width: 25%;
    border: 5px solid black;
    top:25%;
    transform: rotate(-10deg);
}
.personalimage:nth-child(2){
    left:34%;
    width: 25%;
    height: 75%;
    border: 5px solid black;
    top:25%;
    transform: translate(-20%, 5%);
}
.personalimage:nth-child(3){
    left:55%;
    width: 25%;
    border: 5px solid black;
    top:33%;
    transform: rotate(15deg);
}
.personalimage:nth-child(4){
    right:-5%;
    width: 25%;
    border: 5px solid black;
    top:20%;
    transform: rotate(-5deg);
}