.main{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45vh;
    background-color: white;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.contact{
    background-color: green;
    height: 90vh;
    width: 100%;
}
.personalimage{
    height: 90%;
    /* padding:px; */
    background-color: RGB(39, 165, 239);
    filter: grayscale(100%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.personalimage:hover{
    filter: grayscale(0%);
}
.personalimage:nth-child(1){
    left:2%;
    width: 25%;
    border: 5px solid black;
    top:25%;
    transform: rotate(-10deg);
    transition: all 1s;
}
.personalimage:nth-child(2){
    left:33%;
    width: 25%;
    height: 75%;
    border: 5px solid black;
    top:25%;
    transform: translate(-20%, 5%);
    transition: all 1s;
}
.personalimage:nth-child(3){
    left:54%;
    width: 25%;
    border: 5px solid black;
    top:33%;
    transform: rotate(15deg);
    transition: all 1s;
}
.personalimage:nth-child(4){
    right:-5%;
    width: 25%;
    border: 5px solid black;
    top:20%;
    transform: rotate(-5deg);
    transition: all 1s;
}
.personalimage:nth-child(1) .photo{
    width: 90%;
    height: 90%;
    background-color: white;

}
.personalimage:nth-child(2) .photo{
    width: 90%;
    height: 90%;
    background-color: white;
}
.personalimage:nth-child(3) .photo{
    width: 90%;
    height: 90%;
    background-color: white;
}
.personalimage:nth-child(4) .photo{
    width: 90%;
    height: 90%;
    background-color: white;
}
.personalimage:nth-child(1):hover{
    top:5%;
    left:2%;
    transform: rotate(0deg);
}
.personalimage:nth-child(2):hover{
    left:33%;
    top:5%;
    transform: translate(-20%, 5%);
}
.personalimage:nth-child(3):hover{
    left:54%;
    top:5%;
    transform: rotate(0deg);
}
.personalimage:nth-child(4):hover{
    right:1%;
    top:5%;
    transform: rotate(0deg);
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.personldetails{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}
.links{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.details{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-bottom: 3px solid white;
}
.logoimage{
    width: 100%;
    height: 70%;
    background-color: black;
}
.logoimage img{
    height: 100%;
    width: 80%;
}
.ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 50%;
}
.li{
    width: 100%;
    margin-left: 10%;
    font-size: clamp(15px,25px,10vw);
    font-weight: 500;
    color: white;
    font-family: anton,sans serif;
    letter-spacing: 1px;
}
.span{
    height: 75px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}
.span span{
    margin-left: 3%;
    font-size: clamp(10px,20px,10vw);
    font-weight: 700;
    color: white;
}
.mainlink{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    font-size: clamp(15px,25px,10vw);
    font-family: anton,sans serif;
    color: white;
    margin-right: 2%;
}