.homesec,.aboutsec{
    min-height: 100vh;
    width: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
}
.hero{
    height: 400px;
    width: 40vw;
    /* background-color: green; */
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.herodev{
    height: 100px;
    width: 90%;
    /* background-color: black; */
    border-top: 9px solid black;
    border-bottom: 9px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutsec{
    background-color: red;
}
.para{
    height: 33%;
    /* border: 1px solid black; */
    /* width: 100%; */
    font-size: clamp(3rem,15rem,8vw);
    font-family: anton,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
}
.heromain:hover .para:nth-child(2){
    color:RGB(39, 165, 239)
}
.front{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    color: black;
    font-size: clamp(1rem,3.5rem,6vw);
    text-transform: uppercase;
    font-family: anton,sans-serif;
    letter-spacing: 0.8px;
}
.image{
    height: 100%;
    width: 10%;
    /* background-color: black; */
}
.image img{
    height: 100%;
    width: 100%;
}
.light1:nth-child(1)::before{
    position: absolute;
    content: "";
    height: 160px;
    width: 200px;
    background-color: orange;
    z-index: -1;
    top:5%;
    left:-35%;
    clip-path: polygon(25% 0%,50% 45%,65% 30%,100% 95%,65% 60%,50% 75%,0% 30%);
    transform: rotate(-8deg);
    filter: grayscale(100%);
}
.light1:nth-child(1)::after{
    position: absolute;
    content: "";
    height: 150px;
    width: 200px;
    background-color: red;
    z-index: -1;
    top:5%;
    left:-35%;
    clip-path: polygon(25% 0%,50% 45%,65% 30%,100% 100%,65% 60%,50% 75%,0% 25%);
    transform: rotate(-8deg);
    filter: grayscale(100%);
}
.light1:nth-child(2)::before{
    position: absolute;
    content: "";
    height: 150px;
    width: 200px;
    background-color: orange;
    z-index: -1;
    top:85%;
    left:-35%;
    /* clip-path: polygon(0% 30%,50% 75%,65% 60%,100% 95%,65% 60%,50% 75%,0% 30%); */
    clip-path: polygon(0% 60%,47% 20%,52% 35%,100% 5%,45% 75%,40% 60%,15% 100%);
    transform: rotate(8deg);
    filter: grayscale(100%);
}
.light1:nth-child(2)::after{
    position: absolute;
    content: "";
    height: 160px;
    width: 200px;
    background-color: red;
    z-index: -1;
    top:85%;
    left:-35%;
    clip-path: polygon(0% 65%,45% 25%,50% 40%,100% 5%,45% 75%,40% 60%,15% 100%);
    transform: rotate(8deg);
    filter: grayscale(100%);
}
.light1:nth-child(4)::before{
    position: absolute;
    content: "";
    height: 150px;
    width: 200px;
    background-color: orange;
    z-index: -1;
    top:85%;
    left:100%;
    /* clip-path: polygon(0% 30%,50% 75%,65% 60%,100% 95%,65% 60%,50% 75%,0% 30%); */
    clip-path: polygon(0% 65%,43% 22%,48% 38%,100% 0%,40% 85%,36% 70%,18% 100%);
    transform: rotate(-120deg);
    filter: grayscale(100%);
}
.light1:nth-child(4)::after{
    position: absolute;
    content: "";
    height: 160px;
    width: 200px;
    background-color: red;
    z-index: -1;
    top:85%;
    left:100%;
    clip-path: polygon(0% 65%,45% 25%,50% 40%,100% 7%,45% 75%,40% 60%,15% 100%);
    transform: rotate(-120deg);
    filter: grayscale(100%);
}
.light4::before{
    position: absolute;
    content: "";
    height: 160px;
    width: 200px;
    background-color: orange;
    z-index: -1;
    top:5%;
    left:100%;
    /* clip-path: polygon(0% 30%,50% 75%,65% 60%,100% 95%,65% 60%,50% 75%,0% 30%); */
    clip-path: polygon(0% 58%,45% 20%,50% 35%,100% 7%,45% 75%,40% 60%,18% 100%);
    transform: rotate(-173deg);
    filter: grayscale(100%);
}
.light4::after{
    position: absolute;
    content: "";
    height: 150px;
    width: 200px;
    background-color: red;
    z-index: -1;
    top:5%;
    left:100%;
    clip-path: polygon(0% 65%,43% 22%,48% 38%,100% 0%,45% 80%,40% 65%,18% 100%);
    transform: rotate(-173deg);
    filter: grayscale(100%);
}
.heromain{
    position: relative;
}
.heromain:hover .light1::after,.heromain:hover .light1::before,.heromain:hover .light4::after,.heromain:hover .light4::before{
  filter: grayscale(0%);
}
