.main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.title{
    font-family: anton,sans serif;
    font-size: clamp(75px,125px,10vw);
    font-weight: 800;
    color: black;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
}
.title::after{
    position: absolute;
    content: "";
    bottom:0%;
    left: -30%;
    height: 9px;
    width: 50vw;
    background-color: black;
}
.toshow{
    min-height: 80vh;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(475px,1fr));
    grid-row: 275px;
    grid-auto-rows: 275px;
    margin-top: 3%;
    gap:10px;
    
}
.projectdisplay{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.projectimage{
    position: absolute;
    height: 100%;
    width: 68%;
    left: 0%;
    clip-path: polygon( 5% 0%,  95% 0%,  100% 5%,  99% 6%,  100% 8%,  99% 10%,  100% 12%,  99% 14%,  100% 16%, 99% 18%,  100% 20%,  99% 22%,  100% 24%,  99% 26%,  100% 28%,  99% 30%,  100% 32%,  99% 34%, 100% 36%,  99% 38%,  100% 40%,  99% 42%,  100% 44%,  99% 46%,  100% 48%,  99% 50%,  100% 52%,  99% 54%,  100% 56%,  99% 58%,  100% 60%,  99% 62%,  100% 64%,  99% 66%,  100% 68%,  99% 70%,  100% 72%,  99% 74%,  100% 76%,  99% 78%,  100% 80%,  99% 82%,  100% 84%,  99% 86%, 100% 88%, 99% 90%,100% 92%, 99% 94%, 95% 100%,5% 100%,0% 95%,0% 5%);
    z-index: 0;
    background-color: red;
}
.projectdesc{
    position: absolute;
    right: 0%;
    height: 100%;
    width: 33.5%;
    background-color: orange;
    clip-path: polygon(10% 0%,90% 0%,100% 10%,100% 90%,90% 100%,10% 100%,0% 95%,2% 93%,0% 91%,2% 89%,0% 87%,2% 85%,0% 83%,2% 81%,0% 79%,2% 77%,0% 75%,2% 73%,0% 71%,2% 69%,0% 67%,2% 65%,0% 63%,2% 61%,0% 59%,2% 57%,0% 55%,2% 53%,0% 51%,2% 49%,0% 47%,2% 45%,0% 43%,2% 41%,0% 39%,2% 37%,0% 35%,2% 33%,0% 31%,2% 29%,0% 27%,2% 25%,0% 23%,2% 21%,0% 19%,2% 17%,0% 15%,2% 13%,0% 11%,2% 9%,0% 7%,2% 5%);

}
.projectdisplay:hover .projectimage{
    transform: translateX(-0.5%);
}
.projectdisplay:hover .projectdesc{
    transform: translateX(3%);
}