.hero {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.title {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    font-family: anton, sans serif;
    font-size: clamp(75px, 125px, 10vw);
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
}

.title h1::after {
    position: absolute;
    content: "";
    bottom: 0px;
    left: -45%;
    height: 9px;
    width: 200%;
    background-color: black;
}

.container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-auto-rows: 250px;
    align-items: stretch;
    gap: 25px;
}

.skillcontainer {
    height: 100%;
    width: 100%;
    background-color: white;
    border: 5px solid RGB(39, 165, 239);
    margin-top: 5%;
}

.certificate {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    margin-top: 5%;
}

.certiTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.titlecert {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.certiTitle p {
    font-size: clamp(75px, 135px, 12vw);
    font-family: anton, sans serif;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 5px;
}

.carousel {
    position: absolute;
    top: 20%;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.vid {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: grayscale(100%);
    transition: all 0.5s;
}

.certificate:hover .vid {
    filter: grayscale(0%);
    cursor: pointer;
}

.main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    height: 100px;
    border-radius: 50%;
    width: 100px;
}

.carouselcont {
    width: 50%;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.track {
    display: flex;
    transition: transform 0.6s ease;
    width: 100%;
}

.slide {
    height: 450px;
    width: 100%;
    flex:0 0 100%;
    position: relative;
}

.slide:nth-child(1) {
    background: red;
}

.slide:nth-child(2) {
    background: pink;
}

.slide:nth-child(3) {
    background: green;
}
.slide img{
    position: absolute;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    transition: all 0.6s;
}
.carousel:hover img {
    filter: grayscale(0%);
    cursor: pointer;
}
.skillcontainer{
    position: relative;
}
.skillcontainer img{
    position: absolute;
    top:0%;
    left: 0%;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    transition: all 0.5s;
}
.skillcontainer:hover img{
    filter: grayscale(0%);
}