.hero {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    border-top: 5px dashed rgba(0,0,0,0.5);
}
.spiral{
    position: absolute;
    right: -10%;
    top:-11%;
    filter: grayscale(100%);
    height: 50%;
    width: 30%;
}
.title {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:-25px;
}

.title h1 {
    font-family: anton, sans serif;
    font-size: clamp(75px, 125px, 10vw);
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
}

.title h1::after {
    position: absolute;
    content: "";
    bottom: 0px;
    left: -45%;
    height: 9px;
    width: 200%;
    background-color: black;
}

.container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-auto-rows: 200px;
    align-items: stretch;
    gap: 25px;
}

.skillcontainer {
    height: 100%;
    width: 100%;
    background-color: white;
    border: 5px solid RGB(39, 165, 239);
    margin-top: 5%;
}

.certificate {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    margin-top: 5%;
}

.certiTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.titlecert {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.certiTitle p {
    font-size: clamp(75px, 135px, 12vw);
    font-family: anton, sans serif;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 5px;
}

.carousel {
    position: absolute;
    top: 20%;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.vid {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: grayscale(100%);
    transition: all 0.5s;
}

.certificate:hover .vid {
    filter: grayscale(0%);
    cursor: pointer;
}

.main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    height: 100px;
    border-radius: 50%;
    width: 100px;
    background-color: RGB(39, 165, 239);
    border: 2px solid black;
}

.carouselcont {
    width: 50%;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.track {
    display: flex;
    transition: transform 0.6s ease;
    width: 100%;
}

.slide {
    height: 450px;
    width: 100%;
    flex:0 0 100%;
    position: relative;
    padding: 5px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.slide img{
    position: absolute;
    background-size: cover;
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    transition: all 0.6s;
    padding: 5px;
}
.carousel:hover img {
    filter: grayscale(0%);
    cursor: pointer;
}
.skillcontainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skillcontainer img{
    position: absolute;
    background-size: cover;
    height: 75%;
    width: 80%;
    filter: grayscale(100%);
    transition: all 0.5s;
}
.skillcontainer:hover img{
    filter: grayscale(0%);
}
.triangle{
    height: 250px;
    position: relative;
    width: 275px;
    top:8%;
    left:2%;
    animation: triangleanimation 4s infinite alternate-reverse;
}
@keyframes triangleanimation {
    0% {
        transform: rotate(-25deg) scale(0.9);
    }
    100% {
        transform: rotate(25deg) scale(1.1);
    }
}
.triangle img{
    background-size: cover;
    /* position: absolute; */
    height: 100%;
    width: 100%;
    transform: rotate(-25deg);
}
.cartoon{
    position: absolute;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: black;
    top:5%;
    left:23%;
    border: 2px solid black;
}
.cartoon:nth-child(2){
    height: 75px;
    width: 75px;
    border-radius: 50%;
    /* background-color: green; */
    top:82%;
    left: 17%;
}
.cartoon:nth-child(3){
    height: 75px;
    width: 75px;
    border-radius: 50%;
    /* background-color: green; */
    top:48%;
    left:85%;
}
.cartoon img{
    position: absolute;
    border-radius:50% ;
    background-size: cover;
    padding: 2px;
    filter: grayscale(0%);
}

